version: '3.8'
services:
  postgres:
    image: postgres
    container_name: postgres-fazmerir
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: fazmerir
    restart: always
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak-fazmerir
    command: start-dev --http-port=8081
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8081"
    restart: unless-stopped